{% extends "base.html" %}

{% load static %}

{% block titulo %}
{% endblock %}

{% block estilo %}

{% endblock %}

{% block conteudo %}

    <div class="row">
        <div class="col-12">
            <h4 class="mb-2">Cadastre-se</h4>
            <hr class="mb-4">
        </div>
    </div>

    {% if messages %}
        <div class="row mb-3">
            <div class="col-12">
                {% for message in messages %}
                    <ul class="list-group rounded {{ message.tags }}">
                        {# Supondo a utilização de apenas info e danger #}
                        <li
                            class="list-group-item list-group-item-{% if message.tags == 'info' %}info{% else %}danger{% endif %}">
                            {{ message }}
                        </li>
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endif %}


    <form action ="{% url 'cadastra_cliente' %}" method ="POST" novalidate>

        {{ form.cliente_id }}

        <div class="form-group row" style="margin-bottom: 10px;">
            <label for="id_nome" class="col-lg-2 col-form-label font-weight-bold">Nome</label>
            <div class="col-lg-10">
                {{ form.nome }}
                {% if form.nome.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.nome.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        {#  <select name="categoria" class="form-control form-control-sm" required id="id_categoria">   #}
        {#     <option value="" selected>--- Selecione uma categoria ---</option>                     #}
        {#     <option value="1">Eletrodoméstico</option>                                           #}
        {#     <option value="2">Celular</option>                                                   #}
        {#     <option value="3">Computador</option>                                                #}
        {#  </select>                                                                               #}

        <div class="form-group row" style="margin-bottom: 10px;">
            <label for="id_sobrenome" class="col-lg-2 col-form-label font-weight-bold">Sobrenome</label>
            <div class="col-lg-10">
                {{ form.sobrenome }}
                {% if form.sobrenome.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.sobrenome.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row" style="margin-bottom: 20px;">
            <label for="id_email" class="col-lg-2 col-form-label font-weight-bold">E-mail</label>
            <div class="col-lg-10">
                {{ form.email }}
                {% if form.email.errors %}
                    <div class="alert alert-danger mb-0" style="padding-top: 2px; padding-bottom: 2px;">
                        {% for error in form.email.errors %}
                            <small>{{ error }}</small>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="form-group row" style="margin-top: 20px;">
            <div class="col-lg-10 offset-lg-2">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary"><img src="">
{#                    {% if form.produto_id.value %}#}
{#                       Alterar#}
{#                    {% else %}#}
{#                       Cadastrar#}
{#                    {% endif %}#}
                    Cadastrar
                </button>
            </div>
        </div>


    </form>



{% endblock %}