{% extends "base.html" %}

{% load static %}

{% block titulo %}
    Computador
{% endblock %}

{% block estilo %}
    a {
        color: #337ab7;
    }
{% endblock %}

{% block conteudo %}
    <div class="row">
        <div class="col-md-3 mb-3 mb-md-0">
            <!-- style="min-height: 150px; min-width: 150px;" -->
            <img class="img-fluid rounded" src="{% static 'produto/imagens/' %}{{ produto.imagem }}">
        </div>
        <div class="col-md-9">
            <h4>{{ produto.nome }}</h4>
            <h5><a href="{{ produto.categoria.get_absolute_path }}">{{ produto.categoria.nome }}</a></h5>
            <p>{{ produto.preco }}</p>
            <p>{{ produto.descricao }}</p>
        </div>
    </div>
{% endblock %}
