{% extends "base.html" %}

{% load static %}

{% block titulo %}
    Produtos
{% endblock %}

{% block estilo %}
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        color: #fff;
        background-color: #337ab7;
    }
    a.nav-link:hover {
        background-color: #eeeeee;
    }
    a {
        color: #337ab7;
    }
{% endblock %}

{% block conteudo %}

    {% static "produto/imagens/" as baseUrl %}

    <div class="row">
        <div class="col-lg-3">
            <h3>Categorias</h3>
            <div class="nav flex-column nav-pills">
                <a class="nav-link {% if not categoria %} active {% endif %}" href="/">Todos</a>
                {% for cat in categorias %}
                    <a class="nav-link {% if categoria == cat %} active {% endif %}" href="{{ cat.get_absolute_path }}">{{ cat.nome }}</a>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-9">
            <h3>Produtos</h3>
            <div class="row">
                {% for produto in produtos %}

                <div class="col-xl-4 col-lg-6">
                    <a href="{{ produto.get_absolute_path }}">
                        <!-- style="max-width: 90%;" -->bsolute_path
                        <img class="img-fluid rounded"
                             height="220px"
                             width="220px"
                             src="{% static 'produto/imagens/' %}{{ produto.imagem }}">
                    </a>
                    <h5 class="mt-3" style="font-size: 16px">
                        <a href="{{ produto.get_a }}">{{ produto.nome }}</a>
                    </h5>
                    {{ produto.preco }}
                    <br>
                    <br>
                </div>
                {% endfor %}



            </div>
        </div>
    </div>
{% endblock %}

